.fake/
obj/
bin/
packages/
paket-files/
node_modules/
src/Client/public/
deploy/Server/runtimes/linux-arm64/native/libuv.so
deploy/Server/FSharp.Core.dll
deploy/Server/FSharp.Data.dll
deploy/Server/Fable.JsonConverter.dll
deploy/Server/Giraffe.dll
deploy/Server/Microsoft.AspNetCore.dll
deploy/Server/Microsoft.AspNetCore.Authentication.dll
deploy/Server/Microsoft.AspNetCore.Authentication.Abstractions.dll
deploy/Server/Microsoft.AspNetCore.Authentication.Cookies.dll
deploy/Server/Microsoft.AspNetCore.Authentication.Core.dll
deploy/Server/Microsoft.AspNetCore.Authentication.JwtBearer.dll
deploy/Server/Microsoft.AspNetCore.Authentication.OAuth.dll
deploy/Server/Microsoft.AspNetCore.Cors.dll
deploy/Server/Microsoft.AspNetCore.Cryptography.Internal.dll
deploy/Server/Microsoft.AspNetCore.DataProtection.dll
deploy/Server/Microsoft.AspNetCore.DataProtection.Abstractions.dll
deploy/Server/Microsoft.AspNetCore.Diagnostics.dll
deploy/Server/Microsoft.AspNetCore.Diagnostics.Abstractions.dll
deploy/Server/Microsoft.AspNetCore.Hosting.dll
deploy/Server/Microsoft.AspNetCore.Hosting.Abstractions.dll
deploy/Server/Microsoft.AspNetCore.Hosting.Server.Abstractions.dll
deploy/Server/Microsoft.AspNetCore.Http.dll
deploy/Server/Microsoft.AspNetCore.Http.Abstractions.dll
deploy/Server/Microsoft.AspNetCore.Http.Extensions.dll
deploy/Server/Microsoft.AspNetCore.Http.Features.dll
deploy/Server/Microsoft.AspNetCore.HttpOverrides.dll
deploy/Server/Microsoft.AspNetCore.ResponseCompression.dll
deploy/Server/Microsoft.AspNetCore.Rewrite.dll
deploy/Server/Microsoft.AspNetCore.Routing.dll
deploy/Server/Microsoft.AspNetCore.Routing.Abstractions.dll
deploy/Server/Microsoft.AspNetCore.Server.IISIntegration.dll
deploy/Server/Microsoft.AspNetCore.Server.Kestrel.dll
deploy/Server/Microsoft.AspNetCore.Server.Kestrel.Core.dll
deploy/Server/Microsoft.AspNetCore.Server.Kestrel.Https.dll
deploy/Server/Microsoft.AspNetCore.Server.Kestrel.Transport.Abstractions.dll
deploy/Server/Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv.dll
deploy/Server/Microsoft.AspNetCore.Session.dll
deploy/Server/Microsoft.AspNetCore.StaticFiles.dll
deploy/Server/Microsoft.AspNetCore.WebUtilities.dll
deploy/Server/Microsoft.Extensions.Caching.Abstractions.dll
deploy/Server/Microsoft.Extensions.Caching.Memory.dll
deploy/Server/Microsoft.Extensions.Configuration.dll
deploy/Server/Microsoft.Extensions.Configuration.Abstractions.dll
deploy/Server/Microsoft.Extensions.Configuration.Binder.dll
deploy/Server/Microsoft.Extensions.Configuration.CommandLine.dll
deploy/Server/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
deploy/Server/Microsoft.Extensions.Configuration.FileExtensions.dll
deploy/Server/Microsoft.Extensions.Configuration.Json.dll
deploy/Server/Microsoft.Extensions.Configuration.UserSecrets.dll
deploy/Server/Microsoft.Extensions.DependencyInjection.dll
deploy/Server/Microsoft.Extensions.DependencyInjection.Abstractions.dll
deploy/Server/Microsoft.Extensions.FileProviders.Abstractions.dll
deploy/Server/Microsoft.Extensions.FileProviders.Physical.dll
deploy/Server/Microsoft.Extensions.FileSystemGlobbing.dll
deploy/Server/Microsoft.Extensions.Hosting.Abstractions.dll
deploy/Server/Microsoft.Extensions.Logging.dll
deploy/Server/Microsoft.Extensions.Logging.Abstractions.dll
deploy/Server/Microsoft.Extensions.Logging.Configuration.dll
deploy/Server/Microsoft.Extensions.Logging.Console.dll
deploy/Server/Microsoft.Extensions.Logging.Debug.dll
deploy/Server/Microsoft.Extensions.ObjectPool.dll
deploy/Server/Microsoft.Extensions.Options.dll
deploy/Server/Microsoft.Extensions.Options.ConfigurationExtensions.dll
deploy/Server/Microsoft.Extensions.Primitives.dll
deploy/Server/Microsoft.Extensions.WebEncoders.dll
deploy/Server/Microsoft.IdentityModel.Logging.dll
deploy/Server/Microsoft.IdentityModel.Protocols.dll
deploy/Server/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
deploy/Server/Microsoft.IdentityModel.Tokens.dll
deploy/Server/Microsoft.Net.Http.Headers.dll
deploy/Server/Newtonsoft.Json.dll
deploy/Server/Saturn.dll
deploy/Server/Server.dll
deploy/Server/Server.pdb
deploy/Server/Server.deps.json
deploy/Server/Server.runtimeconfig.json
deploy/Server/System.IdentityModel.Tokens.Jwt.dll
deploy/Server/System.Runtime.CompilerServices.Unsafe.dll
deploy/Server/System.Security.AccessControl.dll
deploy/Server/System.Security.Cryptography.Xml.dll
deploy/Server/System.Security.Principal.Windows.dll
deploy/Server/System.Text.Encodings.Web.dll
deploy/Server/TaskBuilder.fs.dll
deploy/Server/cs/FSharp.Core.resources.dll
deploy/Server/de/FSharp.Core.resources.dll
deploy/Server/en/FSharp.Core.resources.dll
deploy/Server/es/FSharp.Core.resources.dll
deploy/Server/fr/FSharp.Core.resources.dll
deploy/Server/it/FSharp.Core.resources.dll
deploy/Server/ja/FSharp.Core.resources.dll
deploy/Server/ko/FSharp.Core.resources.dll
deploy/Server/pl/FSharp.Core.resources.dll
deploy/Server/pt-BR/FSharp.Core.resources.dll
deploy/Server/ru/FSharp.Core.resources.dll
deploy/Server/runtimes/linux-arm/native/libuv.so
deploy/Server/runtimes/linux-armel/native/libuv.so
deploy/Server/runtimes/linux-x64/native/libuv.so
deploy/Server/runtimes/osx/native/libuv.dylib
deploy/Server/runtimes/unix/lib/netcoreapp2.0/System.Security.AccessControl.dll
deploy/Server/runtimes/unix/lib/netcoreapp2.0/System.Security.Principal.Windows.dll
deploy/Server/runtimes/win/lib/netcoreapp2.0/System.Security.AccessControl.dll
deploy/Server/runtimes/win/lib/netcoreapp2.0/System.Security.Principal.Windows.dll
deploy/Server/runtimes/win-arm/native/libuv.dll
deploy/Server/runtimes/win-x64/native/libuv.dll
deploy/Server/runtimes/win-x86/native/libuv.dll
deploy/Server/tr/FSharp.Core.resources.dll
deploy/Server/zh-Hans/FSharp.Core.resources.dll
deploy/Server/zh-Hant/FSharp.Core.resources.dll
